.chat_gpt-section {
  background: url('/static/images/ai-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 5rem);

}

.chat-container {
  background: rgba(0, 9, 29, 0.877);
  width: 100%;
  padding: 4%;
  height: calc(100vh - 5rem);
  backdrop-filter: blur(1px);
  color: #fff;
  position: fixed;
  overflow-y: scroll;
}

.chat-response {
  padding: 1rem;
  background: rgba(3, 51, 155, 0.486);
  margin-bottom: 5rem;
}

.chat_prompt_response {
  min-height: 5rem;
  text-align: center;
  font-size: 1rem;
}

.invalid_prompt {
  color: #fd7272;
  font-size: 1.1rem;
}

.chat-form {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4%;
  background: rgba(2, 24, 73, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chat_textarea {
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  padding: 0.225rem 1rem;
}

.chat-form .submit-btn {
  margin: 0;
  padding: 0.275rem 1rem;
}

.chat-form .submit-btn img {
  max-width: 24px;
}

