.chat_gpt-section {
  background: url('/static/images/ai-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 5rem);

}

.chat-container {
  background: rgba(0, 9, 29, 0.877);
  width: 100%;
  padding: 4%;
  height: calc(100vh - 5rem);
  backdrop-filter: blur(1px);
  color: #fff;
  position: fixed;
  overflow-y: scroll;
}

.chat-response {
  padding: 1rem;
  background: rgba(3, 51, 155, 0.486);
  min-height: 25rem;
  margin-bottom: 5rem;
}

.chat_prompt_response_status {
  text-align: center;
  font-size: 1rem;
}

.chat_prompt_response {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user_res, .gpt_res {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #757eff;
}

.user_res {
  background: transparent;
}

.gpt_res {
  background: rgba(3, 51, 155, 0.486);
  color: #b7b8fd;
  position: relative;
}


.gpt_res:before{
content:"";
position:absolute;
width:0px;
height:0px;
border: 10px solid;
border-color: transparent transparent #757eff transparent ;
left: 6px;
top: -20px;
}


.gpt_res p, .gpt_res pre, .gpt_res ol, .gpt_res ul {
  margin-bottom: 1rem;
}

.gpt_res ol, .gpt_res ul {
  padding: 1rem;
}

.gpt_res pre {
  background: rgba(3, 51, 155, 0.486);
  padding: 1rem;
  border-radius: 5px;
}

.invalid_prompt {
  color: #fd7272;
  font-size: 1.1rem;
}

.chat-form {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4%;
  background: rgba(2, 24, 73, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chat_textarea {
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  padding: 0.225rem 1rem;
}

.chat-form .submit-btn {
  margin: 0;
  padding: 0.275rem 1rem;
}

.chat-form .submit-btn img {
  max-width: 24px;
}

.submit-btn:disabled,
.submit-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* overwrite syntax's highlight classes */
.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
  color: #04e72a;
}

.hljs-section,.hljs-title {
  color: #ff6565;
  font-weight: 700
}

.hljs-keyword {
  color: #0775ff;
}

.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code {
  color: #ffde3e;
}

.hljs-punctuation, .hljs-tag {
  color: #fdfdfd;
}

/* Spinner css styles */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


