{{template "base" .}}

{{define "css"}}
  <link rel="stylesheet" href="/static/css/homepage.css">
{{end}}

{{define "title"}}
<title>
  ChatGpt with Golang
</title>
{{end}}

{{define "content"}}
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-bg">
        <img src="/static/images/homepage-bg.jpg" alt="Chat" />
      </div>
      <div class="hero-content">
        <div class="hero-content__row">
          <h2 class="hero-title">Chat with ChatGPT</h2>
          <p>NeuralChat is a cutting-edge chatbot project that allows users to chat with the state-of-the-art OpenAI chatbot, GPT-3.5, in a seamless and user-friendly manner and make it a powerful and robust solution for all your chatbot needs.</p>
          <a href="/chatgpt" class="hero-btn">Get Stated Now!</a>
        </div>
      </div>
    </div>
  </section>
{{end}}